body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

ul.ingredients-list {
    list-style: square inside;
}

ol.directions-list {
    list-style: upper-roman;
}

img {
    float: left;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

html {
    background-color: lightslategrey;
}

input {
  cursor: pointer;
  outline: none;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .review {
  border-top: 1px solid-black;
}

input[type="radio"] {
  background-image: url(../assets/stars.png);
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px;
}

body {
  width: 80%;
  margin: 0 auto;
}

section {
  width: 50%;
  display: inline-block;
}

aside {
  width: 25%;
  float: left;
  margin-right: 15px;
}

.ingredients-list li {
  margin: 15px 0;
}

.directions-list li {
  margin: 15px 0;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}
