<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the music app!</h1>
    <p>
      There's one more step left! Please click this link: <br>
      <%= @url %>
      <br>
      to activate your account!
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>
