<h1>All Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><%= link_to cat.name, cat_url(cat) %></li>
  <% end %>
</ul>
<%= button_to "Rent A Cat!", new_cat_rental_request_url, method: "get" %>

<% content_for :footer do %>
  <p>Check out all these great cats!</p>
<% end %>
