<!DOCTYPE html>
<html>
  <body>
    <p>Wow! Welcome to 99 Cats!</p>

    <p>Don't you love cats, <%= @user %>? I know I do!</p>

    <p>Check out all our great cats <a href=<%= @url %>>here!</a></p>
  </body>
</html>
